@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'Noto_Sans';
  src: url('../fonts/Noto_Sans_KR/static/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Noto_Sans';
  src: url('../fonts/Noto_Sans_KR/static/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto_Sans';
  src: url('../fonts/Noto_Sans_KR/static/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto_Sans';
  src: url('../fonts/Noto_Sans_KR/static/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body, html {
  animation: fadeInSlideDown 1s forwards;
  margin: 0;
  padding: 0;
  font-family: 'Noto_Sans', sans-serif;
  font-weight: 500;
  background-color: rgb(226, 226, 226);
  height: 100%;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  background-image: url('../images/logo.png'); 
  background-repeat: no-repeat; 
  background-position: right bottom; 
  background-size: 150px auto; 
  opacity: 0.6; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

